# Gradle
.gradle/
build/
gradle-8.4/
gradle.zip
gradle/wrapper/

# Android Studio
*.iml
local.properties
.idea/
.DS_Store
captures/

# Build outputs
*.apk
*.aab
*.ap_
*.dex

# Logs
*.log

# Local configuration
local.properties

# Keystore
*.jks
*.keystore

# Proto
schemas/
.aider*
